<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <a routerLink="contact-detail" class="list-group-item clearfix">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-wrapper">
            <h3 class="panel-title">{{ contact.name }}</h3>

            <div class="row">
              <div class="col-xs-5">
                <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 80px;">
              </div>
              <div class="col-xs-7">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </div>
            </div>

          </div>
          <div class="panel-body">
            <p><span>Email:</span> {{ contact?.email }}</p>
            <p><span>Phone:</span> {{ contact?.phone }}</p>
          </div>

        </div>
      </a>
    </div>
  </div>
