.panel-heading-wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
}

button.btn.btn-success.pull-right {
    margin-top: -8px;
}

.panel-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: -8px;
}

h2 {
font-size: 24px;

}