<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-wrapper">
          <h1 class="panel-title pull-left">Contacts</h1>
          <a class="btn btn-success pull-right" routerLink="new">New Contact</a>
        </div>
        <div class="panel-body">
          <cms-contact-item *ngFor="let contactEl of contacts" [contact]="contactEl" dnd-draggable [dragEnabled]="true"  [dragData]="contactEl" [dropZones]="['contactGroup']">
          </cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
